# 네이버 영화 리뷰를 크롤링하여 데이터프레임으로 변환

In [ ]:
import requests
from bs4 import BeautifulSoup # HTML parser 구문분석
import time
import csv

In [ ]:
review = []
reviw_data =[]
cnt = 100

url = f'https://movie.naver.com/movie/point/af/list.naver#?&page={1}'
html = requests.get(url)
soup = BeautifulSoup(html.content,'html.parser') 
soup

In [ ]:
review = []
review_data =[]
cnt = 1000

for page in range(1,500):
  url = f'https://movie.naver.com/movie/point/af/list.naver#?&page={page}'
  html = requests.get(url)
  soup = BeautifulSoup(html.content,'html.parser') 
  reviews = soup.find_all("td", {"class":"title"})
  for review in reviews:
    sentence = review.find("a",{"class":"report"}).get("onclick").split("', '")[2]
    if sentence !="":
      movie = review.find("a",{"class":"movie color_b"}).get_text()
      score = review.find("em").get_text()
      review_data.append([movie,sentence, int(score)])
      cnt -= 1
    if cnt<0:
      break
    time.sleep(0.1)

In [ ]:
review_data

In [ ]:
columns_name = ["movie", "sentence", "score"]
with open ("samples.csv", "w", newline = "", encoding = 'utf8') as f:
    write = csv.writer(f)
    write.writerow(columns_name)
    write.writerows(review_data)

In [ ]:
import pandas as pd
data = pd.read_csv("samples.csv")
data

,movie,sentence,score
0,극장판 뽀로로와 친구들: 바이러스를 없애줘!,"5살아이 극장에서 애니메이션 세번째인데, 단연 뽀로로를 가장 좋아합니다.너무 재밌어...",10
1,올빼미,"연기도 좋았고, 긴장감도 좋았는데,역사적으로 좀 억지스런 과장된 몇몇 장면들이 불편했음.",8
2,올빼미,완벽한 서스펜스 영화,7
3,수색자,굉장히 훌륭하네요 그냥 군 영화인 줄 알았어요좀 놀랬음. 기대 전혀 안했는데…강력 ...,10
4,올빼미,예고편만 봐도 기대됨 10자라니 이건 너무 길다,10
...,...,...,...
1288,에브리씽 에브리웨어 올 앳 원스,앞으로 수십년간 바뀔 일 없을 인생 영화,10
1289,에브리씽 에브리웨어 올 앳 원스,앞으로 수십년간 바뀔 일 없을 인생 영화,10
1290,에브리씽 에브리웨어 올 앳 원스,앞으로 수십년간 바뀔 일 없을 인생 영화,10
1291,에브리씽 에브리웨어 올 앳 원스,앞으로 수십년간 바뀔 일 없을 인생 영화,10
1292,에브리씽 에브리웨어 올 앳 원스,앞으로 수십년간 바뀔 일 없을 인생 영화,10

In [ ]:
# 영화별로 그룹을 지어 평점 평균을 구하시오.
# group by()
# data.groupby('movie')['score'].min()
result = data.groupby('movie')['score'].mean()
result

movie
극장판 뽀로로와 친구들: 바이러스를 없애줘!    10.000000
블루 재스민                      10.000000
새콤달콤                        10.000000
수색자                         10.000000
에브리씽 에브리웨어 올 앳 원스           10.000000
올빼미                          7.884615
자백                           6.000000
정직한 후보2                      3.000000
제로 다크 서티                     8.000000
탄생                          10.000000
프레이 포 더 데블                  10.000000
한산 리덕스                      10.000000
Name: score, dtype: float64

In [ ]:
# 평점 7.0 ~ 8.0
for i in range(len(result)):
  if 7.0 <= result[i] and result[i] <= 8.0 :
    print(f'{result.index[i]} : {result[i]}점')

올빼미 : 7.884615384615385점
제로 다크 서티 : 8.0점

In [ ]:
#평점 상위 50등까지 출력하시오.
result = result.sort_values(ascending = False)
result

for i in range(5):
    print(f'{result.index[i]} , {result[i]}점')

극장판 뽀로로와 친구들: 바이러스를 없애줘! , 10.0점
블루 재스민 , 10.0점
새콤달콤 , 10.0점
수색자 , 10.0점
에브리씽 에브리웨어 올 앳 원스 , 10.0점